{% extends 'base.html.twig' %}

{% block title %} Ignis Uml {% endblock %}

{% block body %}

    <pre id="editor">function foo(items) {
        var i;
        for (i = 0; i &lt; items.length; i++) {
            alert("Ace Rocks " + items[i]);
        }
    }</pre>



    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-color--black">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Upload Wizard</span>&nbsp;&nbsp;&nbsp;
                <span>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                      Button
                    </button>
                </span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation"><i class="material-icons md-dark">fingerprint</i>
                    <a class="mdl-navigation__link" href="" style="color:white">permalink</a>
                    <a class="mdl-navigation__link" href="" style="color:white">Log in</a>
                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                            <label class="mdl-button mdl-js-button mdl-button--icon" for="text8">
                                <i class="material-icons">search</i>
                            </label>
                            <div class="mdl-textfield__expandable-holder">
                                <input class="mdl-textfield__input" type="text" id="text8">
                                <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                            </div>
                        </div>
                    </form>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Settings</span>
            <nav class="mdl-navigation">
                <table>
                    <tr>
                        <td>Simple Tooltip</td>
                        <td>Large Tooltip</td>
                    </tr>
                    <tr>
                        <td>
                            <div id="tooltip1" class="icon material-icons">add</div>
                            <div class="mdl-tooltip" for="tooltip1">Follow</div>
                        </td>
                        <td>
                            <div id="tooltip2" class="icon material-icons">print</div>
                            <div class="mdl-tooltip mdl-tooltip--large" for="tooltip2">Print</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Rich Tooltip</td>
                        <td>Multiline Tooltip</td>
                    </tr>
                    <tr>
                        <td>
                            <div id="tooltip3" class="icon material-icons">cloud_upload</div>
                            <div class="mdl-tooltip" for="tooltip3">Upload <i>zip files</i></div>
                        </td>
                        <td>
                            <div id="tooltip4" class="icon material-icons">share</div>
                            <div class="mdl-tooltip" for="tooltip4">Share your content<br>using social media</div>
                        </td>
                    </tr>
                </table>
            </nav>
        </div>
        {#        <div class="mdl-tabs mdl-js-tabs">#}
        {#            <div class="mdl-tabs__tab-bar">#}
        {#                <a href="#tab1-panel" class="mdl-tabs__tab is-active">HTML5</a>#}
        {#                <a href="#tab2-panel" class="mdl-tabs__tab">HTML5</a>#}
        {#                <a href="#tab3-panel" class="mdl-tabs__tab">HTML5</a>#}
        {#            </div>#}
        {#            <div class="mdl-tabs__panel is-active" id="tab1-panel" style="padding-left:20px;padding-right:10px;margin-top:20px;">#}
        {#                <p>HTML5 is the next major revision of the HTML standard superseding HTML 4.01, XHTML 1.0, and XHTML 1.1. HTML5 is a standard for structuring and presenting content on the World Wide Web</p>#}
        {#            </div>#}
        {#            <div class="mdl-tabs__panel" id="tab2-panel" style="padding-left:20px;padding-right:10px;margin-top:20px;">#}
        {#                <p>HTML 5 Webinar: June 14, 2016 7 - 11 pm IST</p>#}
        {#            </div>#}
        {#            <div class="mdl-tabs__panel" id="tab3-panel" style="padding-left:20px;padding-right:10px;margin-top:20px;">#}
        {#                <p>#}
        {#                    The following examples showcases the use of mdl-layout class to style various containers#}
        {#                </p>#}
        {#            </div>#}
        {#        </div>#}


        <div class="workspace content-grid mdl-grid ">
            <div class="workspace-structure-box mdl-ce2ll mdl-cell--2-col mdl-color--white workspace-box-shadow">
                <span class="mdl-layout-title">Title</span>
                <ul class="mdl-list">
                    <li class="mdl-list__item"><a class="" href="">Link</a></li>
                    <li class="mdl-list__item"><a class="" href="">Link</a></li>
                    <li class="mdl-list__item"><a class="" href="">Link</a></li>
                    <li class="mdl-list__item"><a class="" href="">Link</a></li>
                </ul>
            </div>
            <div class="workspace-main-box mdl-cedll mdl-cell--6-col mdl-color--bffflack workspace-box-shadow">
                <div id="editor">
                    style f
                </div>
            </div>
            <div class="workspace-info-box mdl-cdell mdl-cell--4-col mdl-color--blue workspace-box-shadow">
                <!-- and probably also here -->ggg
            </div>
        </div>

        {#        <main class="mdl-layout__content mdl-js-layout mdl-color--white">#}
        {#            <div class="mdl-layout mdl-js-layout">#}
        {#                <div class="mdl-layout">#}
        {#                    <span class="mdl-layout-title">Title</span>#}
        {#                    <nav class="mdl-navigation">#}
        {#                        <a class="mdl-navigation__link" href="">Link</a>#}
        {#                        <a class="mdl-navigation__link" href="">Link</a>#}
        {#                        <a class="mdl-navigation__link" href="">Link</a>#}
        {#                        <a class="mdl-navigation__link" href="">Link</a>#}
        {#                    </nav>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class=" mdl-color--white mdl-cell mdl-cell--8-col">#}
        {#                <div class="page-content">assadsad</div>#}
        {#            </div>#}
        {#            <div class="mdl-card--expand mdl-color--blue mdl-cell mdl-cell--3-col">#}
        {#                <div class="page-content">sdfdsf</div>#}
        {#            </div>#}
        {#        </main>#}





    </div>




{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('main') }}
{% endblock %}
{% block javascripts %}

    {{ encore_entry_script_tags('main') }}
{% endblock %}